.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addTask{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.buttonTask{
  width: 85px;
  margin-top: 15px;
  
}

.fieldsetTask{
  width: 500px;
  border-radius: 25px;
}